<h3>{{ list-type }} List</h3>
<p>
    {{ list-desc }}
</p>

<ul class="o-list-bare {{# list-inline }} o-list-inline{{/ list-inline}}">
  <li class="{{# list-inline }}o-list-inline__item {{/ list-inline}}">Item</li>
  <li class="{{# list-inline }}o-list-inline__item {{/ list-inline}}">Item</li>
  <li class="{{# list-inline }}o-list-inline__item {{/ list-inline}}">Item</li>
</ul>
