<ul class="sg-colors">
  <li>
    <span class="sg-swatch sofology-positive"><span class="contrast">Positive</span></span>
    <span class="sg-label  sofology-positive--txt">
            $sofology-positive <br />
            #59B25A<br />
            89, 178, 90
        </span>
  </li>
  <li>
    <span class="sg-swatch sofology-caution"><span class="contrast">Caution</span></span>
    <span class="sg-label  sofology-caution--txt">
			$sofology-caution <br />
			#FFD57D<br />
			255, 213, 125
		</span>
  </li>
  <li>
    <span class="sg-swatch sofology-negative"><span class="contrast">Negative</span></span>
    <span class="sg-label  sofology-negative--txt">
			$sofology-negative <br />
			#A94442<br />
			169, 68, 66
		</span>
  </li>
  <li>
    <span class="sg-swatch sofology-info"><span class="contrast">Info</span></span>
    <span class="sg-label  sofology-info--txt">
			$sofology-info <br />
			#357ABA<br />
			53, 122, 186
		</span>
  </li>
</ul>
