<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="{{path '/assets/css/build.css'}}">
    <title>Preview Layout</title>

    <script src="https://use.fortawesome.com/61a9ad22.js"></script>
</head>
<body class="u-sofology-dark-grey-bg">
  <div class="o-wrapper">
    {{{ yield }}}
  </div>


</body>
</html>
