<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="{{path '/assets/css/build.css'}}">
    <title>Preview Layout</title>

    <script src="https://use.fortawesome.com/61a9ad22.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

</head>
<body class="u-sofology-dark-grey-bg">
  <div class="o-wrapper">
    <div class="toolbar">
        <a href="#" class="toggle-contrast" title="Toggle contrast"><i class="fa fa-contrast"></i></a>
        <a href="#" class="toggle-table-borders" title="Toggle table borders"><i class="fa fa-table"></i></a>
    </div>

    {{{ yield }}}
  </div>

  <script>
  $('.toggle-contrast').click(function(){
    $('body').toggleClass('u-sofology-dark-grey-bg u-sofology-white-bg');
    return false;
  });
  $('.toggle-table-borders').click(function(){
    $('table').toggleClass('o-table--bordered');
    return false;
  });
  </script>

</body>
</html>
