<select class="c-controls__control  c-controls__control--select" id="select">
    <optgroup label="Select">
        <option>Option One</option>
        <option>Option Two</option>
        <option>Option Three</option>
    </optgroup>
</select>
