<h3>Typeface</h3>

<div class="o-layout  o-layout--large">
    <div class="o-layout__item  u-1/3">
        <span class="typeface-label">FS Emeric Light</span>
        <h3 class="fs-emeric-light">
            Abcde
        </h3>
    </div>
    <div class="o-layout__item  u-1/3">
        <span class="typeface-label">FS Emeric Book</span>
        <h3 class="fs-emeric-book">
            Abcde
        </h3>
    </div>
    <div class="o-layout__item  u-1/3">
        <span class="typeface-label">FS Emeric Thin</span>
        <h3 class="fs-emeric-thin">
            Abcde
        </h3>
    </div>
    <div class="o-layout__item  u-1/3">
        <span class="typeface-label">FS Emeric Regular</span>
        <h3 class="fs-emeric-regular">
            Abcde
        </h3>
    </div>
    <div class="o-layout__item  u-1/3">
        <span class="typeface-label">FS Emeric Medium</span>
        <h3 class="fs-emeric-medium">
            Abcde
        </h3>
    </div>
    <div class="o-layout__item  u-1/3">
        <span class="typeface-label">FS Emeric Core</span>
        <h3 class="fs-emeric-core">
            Abcde
        </h3>
    </div>
</div>

<hr>

<h3>Hierarchy</h3>
<div class="o-layout  o-layout--large">
    <div class="o-layout__item  u-1/3  u-margin-bottom">
        <span class="typeface-label">Heading 1</span>
        <h1 class="u-margin-bottom-none">
            Abcde <span class="font-size">48px</span>
        </h1>
        <small>Line-height: 48px</small>
    </div>
    <div class="o-layout__item  u-1/3  u-margin-bottom">
        <span class="typeface-label">Heading 2</span>
        <h2 class="u-margin-bottom-none">
            Abcde <span class="font-size">48px</span>
        </h2>
        <small>Line-height: 48px</small>
    </div>
    <div class="o-layout__item  u-1/3  u-margin-bottom">
        <span class="typeface-label">Heading 3</span>
        <h3 class="u-margin-bottom-none">
            Abcde <span class="font-size">48px</span>
        </h3>
        <small>Line-height: 48px</small>
    </div>
    <div class="o-layout__item  u-1/3  u-margin-bottom">
        <span class="typeface-label">Heading 4</span>
        <h4 class="u-margin-bottom-none">
            Abcde <span class="font-size">48px</span>
        </h4>
        <small>Line-height: 48px</small>
    </div>
    <div class="o-layout__item  u-1/3  u-margin-bottom">
        <span class="typeface-label">Heading 5</span>
        <h5 class="u-margin-bottom-none">
            Abcde <span class="font-size">48px</span>
        </h5>
        <small>Line-height: 48px</small>
    </div>
    <div class="o-layout__item  u-1/3  u-margin-bottom">
        <span class="typeface-label">Paragraph</span>
        <p class="u-margin-bottom-none">
            Abcde <span class="font-size">48px</span>
        </p>
        <small>Line-height: 48px</small>
    </div>
</div>

<hr />

<h2>Inline Elements</h2>
  <p><a href="#">This is a text link</a></p>

  <p><strong>Strong is used to indicate strong importance</strong></p>

  <p><em>This text has added emphasis</em></p>

  <p>The <b>b element</b> is stylistically different text from normal text, without any special importance</p>

  <p>The <i>i element</i> is text that is set off from the normal text</p>

  <p>The <u>u element</u> is text with an unarticulated, though explicitly rendered, non-textual annotation</p>

  <p><del>This text is deleted</del> and <ins>This text is inserted</ins></p>

  <p><s>This text has a strikethrough</s></p>

  <p>Superscript<sup>®</sup></p>

  <p>Subscript for things like H<sub>2</sub>O</p>

  <p><small>This small text is small for for fine print, etc.</small></p>

  <p>Abbreviation: <abbr title="HyperText Markup Language">HTML</abbr></p>

  <p>Keybord input: <kbd>Cmd</kbd></p>

  <p><q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">This text is a short inline quotation</q></p>

  <p><cite>This is a citation</cite>

  </p>
  <p>The <dfn>dfn element</dfn> indicates a definition.</p>

  <p>The <mark>mark element</mark> indicates a highlight</p>

  <p><code>This is what inline code looks like.</code></p>

  <p><samp>This is sample output from a computer program</samp></p>

  <p>The <var>variarble element</var>, such as <var>x</var> = <var>y</var></p>
