/* Sass :: Generic :: Scaffold */

/*
	Created:		1.2.17
	Modified:
	Author:			Nick Toye
	Version:		2.0
	Dependencies:	Inuit CSS
*/

/**
 * This stylesheet is for styles you want to include only when displaying demo
 * styles for grids, animations, color swatches, etc.
 * These styles will not be your production CSS.
 */

// body.patterns {
//     background: palette(sofology, dark-grey);
// }

.toggle-contrast {
    @include position($top: 10px, $right: 10px);
}

.layout-scaffold {
    border: 1px solid black;
    padding: $inuit-global-spacing-unit 0;
    @include flexbox(column, $flow: nowrap);
    align-items: center;
    background: #3d414c;
    height: auto;
    margin: 0 0 $inuit-global-spacing-unit 0;


    .layout-scaffold {
        background: rgba(palette(sofology, white), .3);
        margin: 0 0 $inuit-global-spacing-unit 0;
        height: auto;
        justify-content: center;

        h3 {
            margin: 0;
            &:after {
                content: '82% width';
                @include mq(tablet) {
                    content: '78% width';
                };
                display: block;
            }
        }
    }
}

.scaffold-label {
    font-size: rem(18) !important;
    margin-bottom: $inuit-global-spacing-unit-small;
}

.typeface-label {
    font-size: rem(12);
    text-transform: uppercase;
}

.font-size {
    opacity: .5;
    font-size: 80%;
}

hr {
    margin: $inuit-global-spacing-unit 0;
    height: 1px;
    border: none;
    border-bottom: 1px dashed rgba(palette(sofology, white),.3);
}

#sg-patterns {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0 0.5em;
}

.demo-animate {
  background: #ddd;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.sg-colors {
  @include flexbox(row, $flow: wrap);
  color: palette(sofology, dark-grey);
  justify-content: space-between;
  list-style: none !important;
  margin-bottom: $inuit-global-spacing-unit;
  padding: 0 !important;
}
.sg-colors li {
    @include flexbox(column, $flow: nowrap);
    background: #f7f7f0;
    flex: 1;
  margin: 0 0.5em 0.5em 0;
  // min-width: 8em;
  // max-width: 14em;
  border-radius: $global-radius*2;


}


.sg-swatch {
  display: flex;
  height: 8em;
  // margin-bottom: 0.3em;
  border-radius: $global-radius*2 $global-radius*2 0 0;
  // border: 1px solid rgba(palette(sofology, grey),.2);
  align-items: center;
  flex-direction: column;
  justify-content: center;
    position: relative;
    .contrast {
        @include position($bottom: 6px, $left: $inuit-global-spacing-unit/3);
        font-size: rem(12);
    }
    i.fa {
        @include position($top: 10px, $right: 10px)
    }
}

.sg-label {

  font-size: 90%;
  line-height: 1;
  padding: $inuit-global-spacing-unit/3;
  h5 {
      margin-bottom: 0;
  }

}

.sg-modal {

	display: none;
	height: 25% !important;
}

.sg-contrast {
    background: black;
    padding: 24px;

}
