<h3 class="u-margin-bottom-none">Global Layout</h3>
<p>
    The global setting for the website.  Everything fits into this.
</p>
<div class="o-layout">
  <div class="layout-scaffold">
      <h3 class="scaffold-label">90% width</h3>

      <div class="o-layout__item--centred">
          <div class="layout-scaffold">
              <h3 class="scaffold-label"></h3>
          </div>

      </div>
  </div>

</div>

<h3 class="u-margin-bottom-none">2 Column - Large gutters</h3>
<p>
    A 2 column grid with large gutters. <br>
</p>
<p>
    <small>NB. This starts as 1 column @mobile, and increases to 2 colums @tablet.</small>
</p>
<div class="o-layout  o-layout--large">

    <div class="o-layout__item  u-1/1  u-1/2@tablet">
        <div class="layout-scaffold">Column 1</div>
    </div>
    <div class="o-layout__item u-1/1 u-1/2@tablet">
        <div class="layout-scaffold">Column 2</div>
    </div>
</div>

<h3 class="u-margin-bottom-none">3 Column - Large gutters</h3>
<p>
    A 3 column grid with large gutters. <br>
</p>
<p>
    <small>NB. This starts as 1 column @mobile, and increases to 3 colums @tablet.</small>
</p>

<div class="o-layout  o-layout--large">
    <div class="o-layout__item  u-1/1  u-1/3@tablet">
        <div class="layout-scaffold">Column 1</div>
    </div>
    <div class="o-layout__item  u-1/1  u-1/3@tablet">
        <div class="layout-scaffold">Column 2</div>
    </div>
    <div class="o-layout__item  u-1/1  u-1/3@tablet">
        <div class="layout-scaffold">Column 3</div>
    </div>
</div>

<h3 class="u-margin-bottom-none">4 Column - Large gutters</h3>
<p>
    A 4 column grid with large gutters. <br>
</p>
<p>
    <small>NB. This starts as 1 column @mobile, increases to 2 colums @tablet and 4 columns @desktop.</small>
</p>

<div class="o-layout  o-layout--large">
    <div class="o-layout__item  u-1/1  u-1/2@tablet u-1/4@desktop">
        <div class="layout-scaffold">Column 1</div>
    </div>
    <div class="o-layout__item  u-1/1  u-1/2@tablet  u-1/4@desktop">
        <div class="layout-scaffold">Column 2</div>
    </div>
    <div class="o-layout__item  u-1/1  u-1/2@tablet  u-1/4@desktop">
        <div class="layout-scaffold">Column 3</div>
    </div>
    <div class="o-layout__item  u-1/1  u-1/2@tablet  u-1/4@desktop">
        <div class="layout-scaffold">Column 4</div>
    </div>
</div>
