<div class="o-actions ">
    <div class="o-actions__inner">
        {{> @button }}
        <form class="c-form c-form--inline store-finder" novalidate="novalidate">
            <div class="c-controls">
                {{> @text-field }}
                {{> @button--sofology-blue }}
            </div>
            <div class="store-finder-errors sofology-negative--txt"></div>
        </form>
    </div>
</div>
